<div class="users-container">
    <div class="user-recent-post">
        <div class="post-inf-box"
            <h2 class="user-post-title">Post: #<%= @post.title %> by <%= @post.author.name %></h2>
            <h3>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter %><h3>
        </div>
        <p class="user-post-text"><%= @post.text %></p>

        </div>
        <div class="comment-box">
            <% @comments.each do |comment|%>
                <h3 class="comments"><%= comment.author.name %>:  <%= comment.text %></h3>
            <% end %>
        </div>
  </div>
  <% if can? :delete, @post %>
    <%= button_to 'Delete', delete_user_post_path(current_user, @post), class:".button", method: :delete %>
  <% end %>
</div>